body {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: yellow;
}

.logo-container,
.search-bar {
  width: 50%;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.search-bar {
  display: flex;
}

.search-bar input {
  flex: 1;
  padding: 5px;
}

.search-bar button {
  padding: 5px 10px;
}
