<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Mercado Liebre</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="../css/style.css" rel="stylesheet"> -->
  </head>
  <header>
    <div class="header-container">
      <div class="logo-container">
        <img src="../public/images/logo.svg" alt="Logo Mercado Liebre">
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Buscar productos.">
        <button type="submit">Buscar</button>
      </div>
    </div>
    <div>
      Compra en cuotas y sin tarjeta
    </div>
    <nav>
      <ul>
        <li><a href="#Ofertas">Ofertas</a></li><li><a href="#Tiendas_oficiales">Tiendas oficiales</a></li><li><a href="#Vender">Vender</a></li><li><a href="Ayuda">Ayuda</a></li>
      </ul>
      <ul>
        <li><a href="Crea_tu_cuenta">Crea tu cuenta</a></li><li><a href="Ingresa">Ingresa</a></li><li><a href="Mis compras">Mis compras</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <img src="../public/images/banner.jpg" alt="banner">
    <main>
      <section>
        Basado en tu ultima visita
        <article>
          <img src="../public/images/cafetera.jpg" alt="cafetera">
            $6.770
            40% OFF
            Cafetera Moulinex
        </article>
        <article>
          <img src="../public/images/macbook.jpg" alt="notebook">
            $230.000
            20% OFFMacBook Pro 2019
        </article>
        <article>
          <img src="../public/images/samsung-cel.jpg" alt="celular">
            $70.500
            10% OFF
            Samsung Galaxy S10
        </article>
        <article>
          <img src="../public/images/samsung-tv.jpg" alt="televisor">
            $23.200
            5% OFF
            SmartTv Samsung 43"
        </article>
      </section>
      <section>
        Seccion de Ofertas
        <article>
          <img src="../public/images/cafetera.jpg" alt="cafetera">
            $6.770
            40% OFF
            Cafetera Moulinex
        </article>
        <article>
          <img src="../public/images/macbook.jpg" alt="notebook">
            $230.000
            20% OFFMacBook Pro 2019
        </article>
        <article>
          <img src="../public/images/samsung-cel.jpg" alt="celular">
            $70.500
            10% OFF
            Samsung Galaxy S10
        </article>
        <article>
          <img src="../public/images/samsung-tv.jpg" alt="televisor">
            $23.200
            5% OFF
            SmartTv Samsung 43"

      </section>
    </main>
    <footer>
<section>
  <h6>Paga con tarjeta o en efectivo</h6>
        Con Mercado Liebre Cash, tenes cuoptas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!
</section>
      <section>
        <h6>Envio gratis desde $2.500</h6>
        Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.
      </section>
      <section>
        <h6>Seguridad, de principio a fin</h6>
        No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@.
      </section>
      <section>
        <h6>Copyright 1999-2020 MercadoLiebre S.R.L.</h6>
      </section>
    </footer>
  </body>
</html>
