<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Mercado Liebre</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <header>
    <div class="header-container">
      <div class="logo-container">
        <img src="../public/images/logo.svg" alt="Logo Mercado Liebre">
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Buscar productos.">
        <button type="submit">Buscar</button>
      </div>
    </div>
    <div>
      Compra en cuotas y sin tarjeta
    </div>
    <nav>
      <ul>
        <li><a href="#Ofertas">Ofertas</a></li><li><a href="#Tiendas_oficiales">Tiendas oficiales</a></li><li><a href="#Vender">Vender</a></li><li><a href="Ayuda">Ayuda</a></li>
      </ul>
      <ul>
        <li><a href="Crea_tu_cuenta">Crea tu cuenta</a></li><li><a href="Ingresa">Ingresa</a></li><li><a href="Mis compras">Mis compras</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <img src="../public/images/banner.jpg" width="100%" alt="banner">
    <main>
      <section>
        <h3>Basado en tu ultima visita</h3>
        <article>
          <img src="../public/images/cafetera.jpg" width="100%" alt="cafetera">
          <p>$6.770</p>
          <p>40% OFF</p>
          <p><b>Cafetera Moulinex</b></p>
        </article>
        <article>
          <img src="../public/images/macbook.jpg" width="100%" alt="notebook">
          <p>$230.000</p>
          <p>20% OFF</p>
          <p><b>MacBook Pro 2019</b></p>
        </article>
        <article>
          <img src="../public/images/samsung-cel.jpg" width="100%" alt="celular">
          <p>$70.500</p>
          <p>10% OFF</p>
          <p><b>Samsung Galaxy S10</b></p>
        </article>
        <article>
          <img src="../public/images/samsung-tv.jpg" width="100%" alt="televisor">
            $23.200
            5% OFF
            SmartTv Samsung 43"
        </article>
      </section>
      <section>
        <h3>Seccion de Ofertas</h3>
        <article>
          <img src="../public/images/cafetera.jpg" width="100%" alt="cafetera">
            $6.770
            40% OFF
            Cafetera Moulinex
        </article>
        <article>
          <img src="../public/images/macbook.jpg" width="100%" alt="notebook">
            $230.000
            20% OFFMacBook Pro 2019
        </article>
        <article>
          <img src="../public/images/samsung-cel.jpg" width="100%" alt="celular">
            $70.500
            10% OFF
            Samsung Galaxy S10
        </article>
        <article>
          <img src="../public/images/samsung-tv.jpg" width="100%" alt="televisor">
            $23.200
            5% OFF
            SmartTv Samsung 43"

      </section>
    </main>
    <footer>
<section>
  <h4>Paga con tarjeta o en efectivo</h4>
        Con Mercado Liebre Cash, tenes cuoptas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!
</section>
      <section>
        <h4>Envio gratis desde $2.500</h4>
        Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.
      </section>
      <section>
        <h4>Seguridad, de principio a fin</h4>
        No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@.
      </section>
      <section>
        <h4>Copyright 1999-2020 MercadoLiebre S.R.L.</h4>
      </section>
    </footer>
  </body>
</html>
